html, body {
	font-family: Georgia;
	font-size: 16px;
	color: #000000;
	background-color: #f2f2f2;
}
#main {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50em;
}
#content {
	text-align: left;
	background-color: #ffffff;
	border: 20px solid #e9e9e9;
	width: 45em;
	height: auto;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	overflow: auto;
}



a {
	color: #000000;
}
a:active{
	color: #000000;
}
a:visited{
	color: #000000;
}
a:hover{
	color: #000000;
}



input{
	font-family: Georgia;
	font-size: 16px;
	color: #000000;
	background: #f2f2f2;
	border: 1px solid #000000;
	padding: 2px;
}
.submit input {
	font-family: Georgia;
	font-size: 20pt;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	background-color: #f2f2f2;
	height: auto;
	width: auto;
	border: thin solid #000000;
}



h3 {
	font-family: Helvetica;
	font-size: 20px;
}

h1 {
	font-family: Helvetica;
}

pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.4em;
	padding: 0.75em 1.4em;
}
pre:hover {
	box-shadow: 3px 3px 3px #ccc;
}